<%= GMap.header %>
<%= @map.to_html if @map != nil %>

<div id="search-results">
  
<% count = @venues ?  @venues.size : 0 %>
<div id="heading"> <%= "My Saved Venues (" + count.to_s + ")"   %> </div>

<!-- This is the element in which the map will be displayed. -->
<% if @venues.size > 0 %>
<%= @map.to_html %>
 <%= @map.div(:width => 400, :height => 300) %>
<% end %> 

    <ul id="listings">
                
      <% for venue in @venues %>          

            <li id= "<%= venue.id %>" class ="<%= cycle('venue-listing-odd', 'venue-listing-even') %>">
                    <div class='venue-name'><%= link_to venue.name, venue_path(venue) %></div>
                    <% if current_user %>                          
                          <div id='remove_prompt_<%= venue.id %>'  class="save-prompt">
                                <% if venue.is_saved_by(current_user) %>                        
                                    <%= link_to_remote "Remove", :url => {:action => 'remove_from_list', :venue_id => venue.id, :remove => 'true'} %>
                                <% end %> 
                          </div>                    
                    <% end %>
                    <div class='venue-description details'><%= venue.description.capitalize %></div>
                    <div class='venue-categories details'>Categories: <%= venue.display_categories %></div>
                    <div id="ratings-area_<%= venue.id %>" class="ratings-area details">
                    <%= render_rating(venue) %>
                    </div>
                    <div id="comments-area_<%= venue.id %>" class="comments-area details">
                     <%= link_to_if(venue.venue_reviews.size > 0,  "Read #{venue.venue_reviews.size} reviews", venue_path(venue)) do  
                                  "No Reviews yet."
                         end                                     
                       %>
                       <%= link_to_if(venue.can_write_review(current_user.id), "Write yours", venue_path(venue)) do
                            ""
                          end
                       %>                          

                    </div>

            </li>            

    <% end %>
  </ul>

        


          

</div>
