<div id="show-venue-details">
<div class='show-venue-name'><%= @venue.name %></div>
<div id='prompt_<%= @venue.id %>' class="owner-actions corner-all">
  
       <% if current_user %>
                     
                    <% if @venue.is_saved_by(current_user) %>
                      <span class="save-event-status">saved</span>                        
                    <% else %> 
                      <%= link_to_remote "Save", :url => {:action => 'save_to_list', :id => @venue.id} %>                        
                    <% end %>               
          
         
        <% else %>
                               
            <a href="#" OnClick="PromptSignup();">Save</a>
           
          <!-- ui-dialog -->
          <div id="prompt-signup" title="Sign up or Login" style="display: none;">                              
                  You need an account to save this venue. <br/><br/>
                  If you don't have one yet, you can get one by <%= link_to "clicking here.", new_account_path %>  <br/><br/>
                  If you already have one, please <%= link_to "login by clicking here.", new_user_session_path %> 
          </div>
        <% end %>


</div>
<div class="owner-actions corner-all"> 
<%= link_to_if(current_user && @venue.created_by?(current_user), "Edit", edit_venue_path(@venue)) do "" end %>
 </div>
<div class="owner-actions corner-all"> 
<%= link_to_if(current_user && @venue.created_by?(current_user), "Add New Location", new_venue_path(:add_location => 'true', :parent_id => @venue.id )) do "" end %>
 </div>
 <div id="details-left">
<div class='venue-description'><%= @venue.description.capitalize %></div>
<div class='venue-categories'>Categories: <%= @venue.display_categories %></div>
</div>
<div id ='venue-contact'>
        <fieldset>
        <LEGEND ACCESSKEY=C>Contact</LEGEND>
          Address: <br/>
          <%= @venue.display_full_address %><br/><br/>
          Website: <br/>
          <%= @venue.url %><br/><br/>
          Phone: <br/>
          <%= @venue.phone %><br/><br/>
          <%= @venue.email %>
        </fieldset>
 </div>
<div id="ratings-area_<%= @venue.id %>" class="ratings-area">
<%= render_rating(@venue) %>
</div>

<% if current_user && @venue.can_write_review(current_user.id) %>
<%= button_to(  "Write your Review", new_venue_venue_review_path(@venue), :method => :get) %>
<% end %>

<div id="share">

<%=  button_to_function "Share..." do |page|
  page.visual_effect :toggle_slide, 'share-form'
  page.replace_html 'share-form-status', ""
end %>

        <%= image_tag 'spinner.gif', :id=>'share_spinner', :style=>"display:none;" %>
         <div id="share-form-status">  
         </div>
        <div id="share-form"   class="corner-all" style="display: none;">                
                <% remote_form_for :venue, :url => {:action => 'share', :id => @venue, :update => 'share-form-status'}, :before => "Element.show('share_spinner');Element.show('share-form-status')" ,
                                                                                                                             :complete => "Element.hide('share_spinner')" do |form| -%>
                        
                              <span class="label">My Comments:</span>  <br/>             
                              <% max = 1000;  %>
                             <% saved_comments = "" %>                                
                              <span class="formw"><%= text_area_tag :comments,h(saved_comments),:cols => "37", :rows => "4",
                                            :onkeyup => " if (this.value.strip().length > #{max})
                                                          {this.value = this.value.substring(0, #{max});
                                                          $('length_alert_share').update(#{max} + ' limit exceeded' ); }
                                                          else  $('length_alert_share').update(#{max}-this.value.strip().length); " -%>
                                      <br/>characters left :<span id = "length_alert_share" class = "length_alert"><%= 1000 - saved_comments.length %></span></span>	<br/>   <br/> 
                       
                        
                                <span class="label">Share with:</span><br/>   
                                <span	class="formw">                                
                                <%= form.text_area :emails,:cols => "37", :rows => "4" %><br/>(Enter email addresses separated by comma) </span>
                        
                        <br/>   <br/>
                      <div class="submit">
                                <%= submit_tag "Send"  , :onclick => visual_effect(:toggle_blind, "share-form", :duration => 0.5) %> or  <%= link_to_function "Cancel",   visual_effect(:toggle_blind, 'share-form', :duration => 0.5) %>
                        </div>
                  <% end %>
        </div>
</div>
<div id="comments-area_<%= @venue.id %>" class="comments-listings-area">
      <div id="review-listings">
      <% if @venue.venue_reviews.size > 0 %>        
       <div id="review-heading-title">What do Our Members think?</div>
              <% @venue.venue_reviews.each do |review| %>
                <div class ="<%= cycle('venue-listing-odd', 'venue-listing-even') %>">
                      <div class="review-title"><%= review.title.capitalize %><%= render_individual_rating(@venue,review.user) %></div>
                      <div id="edit-review">
                          <%= link_to_if(current_user && review.created_by?(current_user), "Edit this review", edit_venue_venue_review_path(@venue, review)) do "" end %>
                      </div>
                      <div class="reviewer">by <%= review.user.login %> <i> on</i> <%= review.created_at.to_date.to_s(:long) %></div>
                      <div class='review-body'><%= review.details.capitalize %></div> 
                </div>
             <% end %>
          
      <% else %>
          <i>No Reviews yet.</i>
      <% end %>
      </div>
</div>

</div>

